body {
	overflow-x: hidden;
	padding-top: 50px;
	font-family: "ProximaNova-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  .navbar {
	  margin-bottom: 0px;
  }
  
  #wrapper {
	padding-left: 250px;
  }
  
  #sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background-color: #2B2B2B;
  }
  
  #wrapper #sidebar-wrapper {
	width: 250px;
  }
  
  #page-content-wrapper {
	width: calc(100% - 250px);
	position: absolute;
	padding: 15px;
  }
  
  #wrapper #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
  }
  
  
  /* Sidebar Styles */
  
  .sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 20px 0;
	list-style: none;
  }
  
  .sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
  }
  
  .sidebar-nav li a {
	display: block;
	color: #b4b4b3;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	padding: 5px 10px;
  }
  
  .sidebar-nav li a:hover {
	text-decoration: none;
	background-color: #222222;
	border-left: 5px solid #E73D44;
  }
  
  .sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
  }

  #topten-list ul {
	list-style: none;
  }

  .place {
	  font-size: 32px;
	  vertical-align: middle;
	  color: #757575;
	  margin-right: 20px;
  }

  .frame {
    height: 50px;
    width: 50px;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
	}

	.helper {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	.frame img {
		vertical-align: middle;
		max-height: 50px;
		max-width: 50px;
	}

  .leaderboard_thumbnail{
	width: 50px;
	height: 50px;
  }

  .laeaderboard_name {
	  display: inline-block;
	  vertical-align: middle;
	  width: 300px;
	  white-space: nowrap;
	  margin-left: 10px;
  }

  .laeaderboard_name a {
	color: #222222;
	text-decoration: none;
  }

  .laeaderboard_name h1 {
	  font-size: 24px;
	  overflow: hidden;
	  width: 300px;
	  margin: 0;
  }

  .laeaderboard_name h2 {
	  font-size: 16px;
	  overflow: hidden;
	  width: 300px;
	  margin: 0;
	  color: darkgrey;
  }

  .stars {
	  display: inline-block;
	  margin-left: 20px;
	  vertical-align: middle;
	  font-weight: bold;
  }

  .stars div {
	  display: inline-block;
	  text-align: center;	
	  margin-left: 20px;
  }

  .stars img {
	  width: 35px;
	  height: 35px;
  }


  /************* USER *******************/

  .user {
	text-align: center;
  }

  .stars-big h2 {
	margin: 0 0 20px 20px;
	font-size: 24px;
	font-weight: bold;
  }

  .user .stars {
	white-space: nowrap;
	margin: 0;
  }

  .user .name h1 {
	font-size: 24px;
	overflow: hidden;
}

.user .name h2 {
	font-size: 16px;
	overflow: hidden;
	color: darkgrey;
}

.stars-big img {
	width: 100px;
	height: 100px;
	padding: 10px;
}

.locked {
	-webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
    filter: grayscale(90%);
}

ul {
	list-style: none;
}

#floating-button{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background: #db4437;
	position: fixed;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	box-shadow: 0px 2px 5px #666;
  }
  
  .plus{
	color: white;
	position: absolute;
	top: 0;
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0;
	margin: 0;
	line-height: 55px;
	font-size: 38px;
	font-family: 'Roboto';
	font-weight: 300;
	animation: plus-out 0.3s;
	transition: all 0.3s;
  }

  .title {
	font-size: 16px;
    margin-bottom: 30px;
  }