<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="wizeGrowth">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>WizeGrowth</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="js/assign.js"></script>

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="images/logo.png">
            </a>
            </div>
        </div>
    </nav>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ol class="sidebar-nav">
                <li class="sidebar-create-star">
                    <a href="index.html">
                        Home
                    </a>
                    <a href="stars.html">
                        Manage Stars
                    </a>
                    <a href="assign.html">
                        Assign Star
                    </a>
                    <a href="#">
                        Dashboard
                    </a>
                </li>
            </ol>
        </div>
        <div id="page-content-wrapper">
			<h1 class="title">Assign Stars</h1>
			<div class="row">
				<div class="starselection col-xs-6">
                    <span>Select Star</span>
                    <select class="form-control" ng-options="star as star.caption for star in stars | orderBy: 'caption'" ng-model="star"></select>
					<!--<div class="starsToGive" ng-repeat="star in stars" ng-model="star" ng-click="clickStar(star)">-->
                        <!--<label>-->
                            <!--<input type="radio" name="fb" ng-value="{{star}}" />-->
                            <!--<img src="images/achievment.png" class="earned"/>-->
                            <!--{{star.caption}}-->
                        <!--</label>-->
					<!--</div>-->
				</div>
				<div class="user col-xs-6">
                    <form>
                        <div class="form-group">
                            <label for="exampleInput">Select Winner</label>
                            <select class="form-control" ng-options="user as user.displayName for user in users | orderBy: 'displayName'" ng-model="wizer"></select>

                            <button type="button" class="btn btn-primary" ng-click="assign()">Share happiness</button>
                        </div>
                    </form>
                </div>
			</div>
        </div>
    </div>
</body>
</html>
