<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="wizeGrowth">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>WizeGrowth</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><!-- load bootstrap js -->
    <script src="js/stars.js"></script>

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="images/logo.png">
            </a>
            </div>
        </div>
    </nav>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ol class="sidebar-nav">
                <li class="sidebar-create-star">
                    <a href="index.html">
                        Home
                    </a>
                    <a href="stars.html">
                        Manage Stars
                    </a>
                    <a href="assign.html">
                        Assign Star
                    </a>
                    <a href="#">
                        Dashboard
                    </a>
                </li>
            </ol>
        </div>
        <div id="page-content-wrapper">
            <h1 class="title">Manage Stars</h1>
            <div id="floating-button"  data-toggle="modal" data-target="#myModal">
                <p class="plus">+</p>
            </div>
            <table class="table table-striped">
                <thead> 
                    <tr> 
                        <th></th> 
                        <th>Name</th> 
                        <th>Description</th> 
                        <th>Rate</th>
                    </tr> 
                </thead>
                <tbody>
                    <tr ng-repeat="star in stars">
                        <td><img src="images/achievment.png" height="40" /></td>
                        <td>{{ star.caption }}</td>
                        <td>{{ star.description }}</td>
                        <td>{{ star.rate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Add Star</h4>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                            <label for="exampleInputFile">Icon</label>
                            <input type="file" id="icon" ng-model="formData.image">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name" ng-model="formData.caption">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Description</label>
                        <input type="text" class="form-control" id="desc" placeholder="Description" ng-model="formData.description">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Prize</label>
                        <textarea class="form-control" rows="3" ng-model="formData.requirements"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputFile">Category</label>
                      <select class="form-control" ng-model="formData.category">
                          <option value="5a63aebcf36d287087a1bdec">Performance</option>
                          <option value="5a63aed1f36d287087a1bdef">Culture</option>
                          <option value="5a63aefcf36d287087a1bdf4">Inclusion</option>
                          <option value="5a63af0ff36d287087a1bdfd">Side-projects</option>
                      </select>
                  </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Level</label>
                        <select class="form-control" ng-model="formData.rate">
                            <option value="GOLD">Gold</option>
                            <option value="SILVER">Silver</option>
                            <option value="BRONZE">Bronze</option>
                        </select>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" ng-click="saveStar()">Save</button>
                </div>
              </div>
            </div>
          </div>
</body>
</html>
